/*-- scss:defaults --*/

// Base document colors

$navbar-bg: #782323;
$sidebar-bg: white;
$footer-bg: #80c4e6;

// Center h1 titles 
.centered h1 {
    text-align: center;
  }

// frames for images
.black-box {
  border: 1px solid rgb(169, 169, 169);
}
