/*-- scss:defaults --*/

/* Change the page background */
main {
  background-color: #a64343; /* light grey, change to any color */
}

// Center h1 titles 
.centered h1 {
    text-align: center;
  }

// frames for images
.black-box {
  border: 1px solid rgb(169, 169, 169);
}

.navbar-nav > li:first-child > a {
  font-size: 1.25rem;  /* or try 1.4rem or 20px */
  font-weight: 800;
  padding-top: 0.6rem;  /* adjust as needed */
}